<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <ng-content></ng-content>
      <!-- <a
        routerLink="./"
        class="item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Biography</a
      >
      <a routerLink="companies" class="item" routerLinkActive="active"
        >Companies</a
      >
      <a routerLink="partners" class="item" routerLinkActive="active"
        >Partners</a
      > -->
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
